<p style="color: green"><%= notice %></p>

<%= render @event %>

<h2>Attendees</h2>

<% if @event.attendees.any? %>
  <% @event.attendees.each do |attendee| %>
    <%= attendee.email%><br>
  <% end %>
<% else %>
  No Attendees<br>
<% end %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> 
  <%= link_to "Back to events", events_path %>

  <%= render 'event_details/form' %><br>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>

